body {
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: #0e0e11;
    background: radial-gradient(circle, #303030 1px, transparent 1px), #101010;
    background-size: 20px 20px;
}
.nav-element{
    color: rgb(146, 146, 146);
    font-family:sans-serif;
    font-weight: 200;
    font-style: normal;
    transition: all 0.25s ease;
}
.nav-element:hover{
    color: rgb(255, 255, 255);
}
.nav-bar{
    border: 1px solid white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    border-radius: 100px;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-top: 5vh;
    transition: all 0.5s ease;
}
.nav-bar:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* frosted glass blur */
    -webkit-backdrop-filter: blur(10px);
    margin-left: 15vh;
    margin-right: 15vh;
    border: none;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
    font-size: 10vh;
    margin-left: 52vh;
    max-width: 700px;
    margin-bottom: 0px;
    color: rgba(231, 230, 230, 0.693);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hero-content2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    font-size: 10vh;
    margin-left: 52vh;
    max-width: 700px;
    color: rgba(231, 230, 230, 0.693);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hero-content .special-content{
    margin-left: 20px;
    color: rgba(196, 114, 7, 0.934);
}
.desc-text{
    color: rgb(142, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-left: 75vh;
    margin-top: 0px;
    font-size: 3vh;
}
.card{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 30vh;
    width: 25vh;
    background-color: rgb(40, 40, 40);
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient( #060606, #6f6f6f,#000000);
}
.card .card-img{
    height: 4vh;
    width: 4vh;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding-top: 70px;
}
.card .card-content{
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.features-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 20vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10vh;
}

.card .buttons{
    
    border: none;
}